
 a{
    text-decoration: none;
    color: white;
}
.myCollection{
    border: 1px solid red;
}
.navBarDiv{
    display: flex;
    justify-content: space-between;

    &__navBar{
        // display: flex;
        // justify-content: space-between;
        
    }
}

.searchBarDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 32px;
    &__wrapper{
        padding-bottom: 30px;
    }
    &__search{
        background: url('../../Assets/Icons/PNG/Icon-search.png');
        background-repeat: no-repeat;
        background-position: 15px;
        border: 1px solid silver;
        width: 300px;
        height: 52px;
        border: 1px solid black;
        border-radius: 20px;
        display: flex;
        justify-content: flex-start;
        padding-left: 40px;
        transition: all .3s;
    }
    &__search:focus {
        outline: none;
        width: 400px;
    }
}